<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="0G0n5Wl9qLni3fDIwZswP2Y2"/>
    <add key="SecretKey" value="4dS7w9T8ZSMLdcGL9odlMQwyHPVSOf2u"/>
    <add key="path" value="E:\yijianmei.pcm"/>
    <add key="recordpath" value="E:\messi.mp3"/>
    <add key="message" value="梅球王"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>